* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.app {
    overflow: hidden;
}
.container-header {
    background-color: var(--black-color);
    height: 70px;
    line-height: 33px;
}
.c-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.c-header__logo {
    
}
.c-header__logo-img {

}
.c-header__menu {

}
.img-cart {
    width: 50px;
}
.c-header__menu-list{
    display: flex;
    list-style: none;
}
.c-header__menu-item{
    margin: 20px;
}
.c-header__menu-item-link {
    text-decoration: none;
    color: var(--white-color);
    font-size: 1.5rem;
}
.c-header__menu-item-link--active {
    color: var(--primary-color) !important;
}
.c-header__boxtick{

}
.c-header__boxtick-list{
    display: flex;
    color: var(--white-color);
    list-style: none;
}
.c-header__boxtick-item {
    margin: 10px;
    font-size: 2rem;
}
.c-header__boxtick-cart__input  {
    height: 42px;
    width: 310px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    top: 70px;
    right: 139px;
    background-color: #fff;
    padding-right: 10px;
    display: none;
}
.c-header__boxtick-item--search:hover .c-header__boxtick-cart__input {
    display: block;
    display: flex;
}
.c-header__boxtick-cart__input::after {
    height: 10px;
    content: "";
    border: 20px solid;
    border-color: transparent transparent var(--white-color) transparent;
    position: absolute;
    top: -47px;
    right: 17px;
}
.c-header__boxtick-cart__input-ipt {
    width: 100%;
    height: 100%;
    background-color: #fff;
    color: #000;
    border: none;
    line-height: 42px;
    padding-left: 20px;
    outline: none;
}
.c-header__boxtick-cart__input-ipt-icon {
    background-color: #fff;
    color: #000;
}
.c-header__boxtick-item-user-icon{

}
.c-header__boxtick-item-cart-icon{

}
.product{
    background-color: red;
    height: 50px
}
/* slider */
.c-slider__bar-img {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
}
/*  */
.c-service {
    background-color: #F5F5F5;
    align-items: center;
    display: flex;
}
.c-service__list {
    display: flex;
    align-items: center;
    justify-content: space-between;
    list-style: none;
}
.c-service__item {
    text-align: center;
}
.c-service__item-img {

}
.c-service__item-title {
    font-size: 1.4rem;
    text-transform: uppercase;
    font-weight: bold;
    padding: 5px;
}
.c-service__content {
    font-size: 1.2rem;
    padding: 14px;
}
/* c-category */
.c-category {
    height: 160px;
    line-height: 160px;
    text-align: center;
}
.c-category__tittle {

}
.c-category__tittle-heading {
    font-size: 3.4rem;
    text-transform: uppercase;
}

/* c-cate */
.c-cate__inner {
    display: flex;
}
.c-cate__list-1 {
    padding: 0 8px;
}
.c-cate__item1 {
    position: relative;
    margin-bottom: 14px;
}
.c-cate__box {
    position: absolute;
    bottom: 32px;
    left: 32px;
    line-height: 1.4;
}
.c-cate__item1-img {
    opacity: 0.8;
    transition: all 0.5s;
}
.c-cate__item1-title {
    font-size: 3rem;
    transition: all 0.2s ease
}
.c-cate__item1-title:hover {
    color: var(--primary-color);
}
.c-cate__item1-title-link {
    color: #000;
    font-size: 1.4rem;
    font-weight: 500;
    text-decoration: none;
}
.c-cate__item1-title-link:hover {
    color: var(--primary-color);
    transition: all 0.2s ease
}
/* c-product */
.c-product {
    /* padding-bottom: 20px; */
}
.c-produc__inner {

}
.c-product__list {
    display: flex;
    align-items: center;
    list-style: none;
    justify-content: center;
    margin-bottom: 50px;
}
.c-product__item {
    height: 44px;
    line-height: 44px;
    text-align: center;
    margin: 0 20px;
    width: 248px;
    transition: all 0.3s ease;
}
.c-product__item:hover {
    background-color: #343434; 
}
.c-product__item-link:hover {
    color: #fff;
}
.c-product__item--active {
    background-color: #343434; 
}
.c-product__item-link--active {
    color: #fff !important;
}
.c-product__item-link {
    text-decoration: none;
    font-size: 1.8rem;
    color: #000;
}
/* prd */
.c-prd__inner {
    position: relative;
    transition: all 0.3s ease;
}
.c-prd__box {
    max-width: 100%;
    transition: all 0.3s ease;
}
.c-prd__box:hover {
    box-shadow: 0px 0px 5px #000;
    opacity: 0.5;
}
.c-prd__box:hover {

}
.c-prd__box-img {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
}
.c-prd__txt {

}
.c-prd__name {
    font-size: 1.8rem;
    font-weight: 500;
    margin: 10px 0;
    color: #4D4D4D;
    line-height: 1.4;
}
.c-prd__pricebox {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding: 10px 0 0 0;
}
.c-prd__price-old {
    font-size: 1.6rem;
    text-decoration: line-through;
    font-weight: 100;
    color: var(--text-color);
}
.c-prd__price-new {
    font-size: 1.8rem;
    font-weight: 800;
    color: var(--primary-color);
}
.c-prd__sale {
    position: absolute;
    top: 6px;
    left: 6px;
    background-color: var(--primary-color);
    padding: 3px 20px;
    color: #fff;
}
.c-prd__bag {
    position: absolute;
    top: 0;
    right: 12px;
    font-size: 2.6rem;
    padding: 10px;
    border-radius: 24px;
}
.c-prd__bag-link {
    display: none;
}
.fix-product {
    text-align: center;
    margin-bottom: 40px;
}
.c-prd__inner:hover .c-prd__bag-link {
    display: block;
    z-index: 9999;
}
/* c-new */
.c-new__imgbox {

}
.c-new__img {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
}
.c-new__title {
    font-size: 1.6rem;
    font-weight: 700;
    line-height: 1.4;
    overflow: hidden;
    display: block;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    text-overflow: ellipsis;
}
.c-new__date {
    display: flex;
    align-items: center;
    font-size: 1.2rem;
    margin: 12px 0
}
.c-new__watch-inner {
    display: flex;
    align-items: center;
    margin: 0 10px;
}
.c-new__watch {
    background-color: var(--primary-color);
    padding: 6px 12px;
    color: #fff;
    font-weight: 900;
}
.c-new__clock {

}
.c-new__day {
    margin: 0 5px;
}
.c-new__description {

}
.c-new__description-p {
    font-size: 1.2rem;
    line-height: 1.4;
    color: var(--text-color);
    overflow: hidden;
    display: block;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    text-overflow: ellipsis;
}
.c-new__tep {
    margin: 5px 0;
}
.c-new__tep-link {
    color: var(--text-color);
    font-size: 1.4rem;
}
/* c-branch */
.c-branch {
    margin-top: 50px;
    height: 94px;
    background-color: #fafafa;
    display: flex;
    align-items: center;
}
/* footer */
footer {
    background-color: #000;
    color: #fff;
}
.c-footer__logo {

}
.c-footer__list {
    list-style: none;
}
.c-footer__item {
    display: flex;
    align-items: center;
    margin: 20px 0;
}
.c-footer__item-icon {
    font-size: 1.8rem;
    background: var(--primary-color);
    padding: 5px;
}
.c-footer__item-p {
    font-size: 1.2rem;
    letter-spacing: 1px;
    margin-left: 10px;
}
.c-footer__title {

}
.c-footer__title h3 {
    font-size: 1.6rem;
    letter-spacing: 1px;
    padding: 30px 0;
}
.c-footer__hed-list {
    list-style: none;
}
.c-footer__hed-item {
    margin-top: 10px;
}
.c-footer__hed-link {
    text-decoration: none;
    font-size: 1.2rem;
    color: #fff;
    letter-spacing: 1px;
}
.c-footer__hed-link:hover {
    color: var(--primary-color)
}
.c-footer__icon-list {
    display: flex;
    list-style: none;
    margin-bottom: 20px;
}
.c-footer__icon-item {
    margin-right: 20px;
    margin-top: 10px;
}
.c-footer__icon-link {
    font-size: 2.4rem;
    color: var(--primary-color);
}
.fix-footer {
    margin-top: 20px;
}
.coppy-right {
    font-size: 1.2rem;
    padding: 10px 0;
    background: #AEAEAE;
    color: #000;
    text-align: center;
}
.header-bar__icon {
    display: none !important;
}
.menu__overlay {
    display: none;
}
.t-pay {
    padding: 0 10px;
    background-color: #fafafa;
}
.new1 {
    margin-top: 30px;
}
.t-pay__heading {
    font-size: 2.6rem;
    font-weight: 500;
}
.t-pay__info-list {
    display: flex;
    padding: 20px 0;
} 
.t-pay__info-item::after {
    content: '>';
    margin: 5px;
    font-size: 1.2rem;
}
.t-pay__info-item-link {
    text-decoration: none;
    font-size: 1.2rem;
    color: var(--text-color);
}
.t-pay__title-shipper {
    font-size: 1.6rem;
    font-weight: 500;
}
.t-pay__login {
    padding: 10px 0;
    font-size: 1.3rem;
    display: flex;
}
.t-pay__login-text {
    margin-right: 5px;
    color: var(--text-color);
}
.t-pay__login-link {
    text-decoration: none;
}
.t-pay__form-list {

}
.t-pay__form-item {
    margin: 10px 0;
}
.t-pay__form-ipt {
    width: 100%;
    height: 40px;
    border-radius: 6px;
    padding-left: 10px;
    outline: none;
    border-color: #f5f5f5;
}
.t-pay__form-ttr {
    width: 100%;
    outline: none;
    padding: 10px;
    border-radius: 2px;
    border-color: var(--text-color);
    color: var(--text-color);
}
.t-pay-step__inner {
    display: flex;
    justify-content: space-between;
    padding: 10px 0;
    align-items: center;
}
.t-pay__step1 {

}
.t-pay__step1-heading {

}
.t-pay__step1-heading a{
    text-decoration: none;
    text-decoration: none;
    font-size: 1.2rem;
    color: blue;
}
.t-pay__step2 {

}
.t-pay__step2-heading {
    background-color: blue;
    border-radius: 5px;
}
.t-pay__step2-heading button {
    border: none;
    color: #fff;
    background-color: blue;
    width: 258px;
    height: 50px;
    border-radius: 5px;
}
.t-pay__footer {
    text-align: center;
    padding: 8px 0; 
}
/*  */
.new2 {
    background-color: #fafafa;
    padding: 10px 50px;
}
.t-sidebar__inner {
    padding: 30px 50px 0;
}
.t-sidebar__product {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}
.t-sidebar__product-img {
    width: 58px;
}
.t-sidebar__product-name {
    font-size: 1.2rem;
    overflow: hidden;
    display: block;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    text-overflow: ellipsis;
    width: 140px;
}
.t-sidebar__product-qty {
    width: 35px
}
.t-sidebar__product-price {
    font-size: 1.2rem;
    width: 30px;
}
.total-line-table {

}
.total-line-table__list {

}
.total-line-table__item {
    display: flex;
    justify-content: space-between;
    margin: 36px 0;
}
.total-line-table__txt {
    font-size: 1.4rem;
}
.total-line-table__price {
    font-size: 1.6rem;
}
.total__list {
    padding: 16px 0;
}
.total__item {
    display: flex;
    justify-content: space-between;
    font-size: 1.6rem;
}
.total__txt {

}
.total__price {

}